{% extends 'base.html' %}
{% block name %}Главная страница{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <td>Дистанция</td>
            <td>Дорожка</td>
            <td>Время забега</td>
            <td>Номер забега</td>
            <td>Итоговое время</td>
            <td>Место</td>
        </tr>
        {% for race in races %}
           <tr>
                <td>{{race.distance}}</td>
                <td>{{race.track}}</td>
                <td>{{race.time}}</td>
                <td>{{race.number}}</td>
                <td>{{race.result_time}}</td>
                <td>{{race.place}}</td>
           </tr>
       {% endfor %}
    </table>

    <form class="auth_form" method="post" action="/races">
        {% csrf_token %}
        <label><input type="radio" name="distance" required value="5">5 метров</label><br>
        <label><input type="radio" name="distance" required value="10">10 метров</label><br>
        <label><input type="radio" name="distance" required value="100">100 метров</label><br>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}
